* {
  border: solid red 2px;
}

@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
}

.background h1 {INSTRUCTIONS
  display: flex;
  width: 500px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  justify-content: center;
  font-family: 'Coda Caption', sans-serif;
  font-size: 80px;
  letter-spacing: 60px;
  color: yellow;
  transform: perspective(300px) scaleY(1.5) rotateX(-40deg);
  height: 200px;
  text-shadow: 4px 4px 1px red, 10px 10px 1px black;
}

.instructions > h2 {
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  font-family: 'Coda Caption', sans-serif;
  color: azure;
  margin: 20px;
  margin-right: 50px;
  
}

.nav {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  font-family: 'Coda Caption', sans-serif;
  color: #FFFF00;
}

audio {
  height: 30px;
  width: 400px;
}

.btn-start {
  display: flex;
  justify-content: center;
}

.start {
  font-weight: 400px;
  text-align: center;
  background-color: #FF0000;
  border-color: #FFFF00;
  font-size: 30px;
  color: #fff;
}

.start:hover {
  color: yellow;
  background-color: #0000FF;
  border-color: #FFFF00;
}

.instructions-show{
  visibility: visible;
  color: aquamarine;
}

.instructions-hidden {
  visibility: hidden;
}

.win-hidden {
  visibility: hidden;
}

.lose-hidden {
  visibility: hidden;
}

.win-show {
  visibility: visible;
  background-color: aquamarine
}

.lose-show {
  visibility: visible;
  background-color: aquamarine
}